## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.60,-73.97,79.00,52,100,1.52,overcast clouds
1,1,Punta Arenas,CL,-53.15,-70.92,44.60,70,76,10.29,broken clouds
2,2,Vardo,NO,70.37,31.11,57.20,67,52,20.80,broken clouds
3,3,Vaini,TO,-21.20,-175.20,68.00,72,20,14.99,few clouds
4,4,Khatanga,RU,71.97,102.50,40.64,85,100,15.23,overcast clouds

In [3]:
new_column_order = ["City", "Country", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Current Description"]
city_data_df = city_data_df[new_column_order]
city_data_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Albany,US,42.60,-73.97,79.00,52,100,1.52,overcast clouds
1,Punta Arenas,CL,-53.15,-70.92,44.60,70,76,10.29,broken clouds
2,Vardo,NO,70.37,31.11,57.20,67,52,20.80,broken clouds
3,Vaini,TO,-21.20,-175.20,68.00,72,20,14.99,few clouds
4,Khatanga,RU,71.97,102.50,40.64,85,100,15.23,overcast clouds
...,...,...,...,...,...,...,...,...,...
659,Sabang,ID,5.89,95.32,83.37,72,100,9.93,heavy intensity rain
660,Hornepayne,CA,49.21,-84.77,51.78,78,100,23.94,overcast clouds
661,Kyaukse,MM,21.60,96.13,80.06,81,91,4.34,overcast clouds
662,Ovre Ardal,NO,61.32,7.80,50.00,100,75,17.22,shower rain
663,Lampang,TH,18.33,99.50,75.58,88,79,1.70,broken clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria --- look at 6.5.3 in VacationPy
min_temp = float(input("What is the minimum temperature you'd like to experience? "))
max_temp = float(input("What is the maximum temperature you'd like to exerpience? "))

What is the minimum temperature you'd like to experience? 60
What is the maximum temperature you'd like to exerpience? 75

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City                   190
Country                189
Lat                    190
Lng                    190
Max Temp               190
Humidity               190
Cloudiness             190
Wind Speed             190
Current Description    190
dtype: int64

In [7]:
preferred_cities_df.isnull().sum()

City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,Vaini,TO,-21.20,-175.20,68.00,72,20,14.99,few clouds
5,Kelcyre,AL,40.31,20.19,68.09,59,83,5.70,broken clouds
9,Cape Town,ZA,-33.93,18.42,60.01,87,93,8.05,overcast clouds
10,Oktyabrskoye,RU,43.06,44.74,69.01,82,0,6.71,clear sky
19,Karratha,AU,-20.74,116.85,70.21,27,0,7.65,clear sky
...,...,...,...,...,...,...,...,...,...
644,Grande Prairie,CA,55.17,-118.80,62.60,45,75,19.46,broken clouds
647,Scarborough,GB,54.28,-0.40,60.01,73,0,12.66,light rain
648,Camacupa,AO,-12.02,17.48,73.74,39,99,3.83,overcast clouds
655,Mao,ES,39.89,4.27,73.40,60,20,3.36,few clouds
657,San Jeronimo,PE,-11.95,-75.28,63.34,39,60,8.16,broken clouds

In [9]:
# Rename **preferred_cities_df** to *clean_df*
clean_df = preferred_cities_df
clean_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,Vaini,TO,-21.20,-175.20,68.00,72,20,14.99,few clouds
5,Kelcyre,AL,40.31,20.19,68.09,59,83,5.70,broken clouds
9,Cape Town,ZA,-33.93,18.42,60.01,87,93,8.05,overcast clouds
10,Oktyabrskoye,RU,43.06,44.74,69.01,82,0,6.71,clear sky
19,Karratha,AU,-20.74,116.85,70.21,27,0,7.65,clear sky
21,Marfino,RU,55.70,37.38,64.40,55,100,8.95,overcast clouds
25,Khandbari,NP,27.37,87.20,72.43,76,70,0.96,broken clouds
26,Taltal,CL,-25.40,-70.48,62.91,56,22,7.23,few clouds
27,Komsomolskiy,UZ,40.43,71.72,68.00,52,0,9.17,clear sky
30,Bambous Virieux,MU,-20.34,57.76,68.00,82,75,9.17,shower rain

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df.head(10)

               City Country  Max Temp Current Description    Lat     Lng
3             Vaini      TO     68.00          few clouds -21.20 -175.20
5           Kelcyre      AL     68.09       broken clouds  40.31   20.19
9         Cape Town      ZA     60.01     overcast clouds -33.93   18.42
10     Oktyabrskoye      RU     69.01           clear sky  43.06   44.74
19         Karratha      AU     70.21           clear sky -20.74  116.85
21          Marfino      RU     64.40     overcast clouds  55.70   37.38
25        Khandbari      NP     72.43       broken clouds  27.37   87.20
26           Taltal      CL     62.91          few clouds -25.40  -70.48
27     Komsomolskiy      UZ     68.00           clear sky  40.43   71.72
30  Bambous Virieux      MU     68.00         shower rain -20.34   57.76

In [12]:
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Vaini,TO,68.00,few clouds,-21.20,-175.20,
5,Kelcyre,AL,68.09,broken clouds,40.31,20.19,
9,Cape Town,ZA,60.01,overcast clouds,-33.93,18.42,
10,Oktyabrskoye,RU,69.01,clear sky,43.06,44.74,
19,Karratha,AU,70.21,clear sky,-20.74,116.85,
21,Marfino,RU,64.40,overcast clouds,55.70,37.38,
25,Khandbari,NP,72.43,broken clouds,27.37,87.20,
26,Taltal,CL,62.91,few clouds,-25.40,-70.48,
27,Komsomolskiy,UZ,68.00,clear sky,40.43,71.72,
30,Bambous Virieux,MU,68.00,shower rain,-20.34,57.76,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():


    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [14]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Vaini,TO,68.00,few clouds,-21.20,-175.20,Keleti Beach Resort
5,Kelcyre,AL,68.09,broken clouds,40.31,20.19,The River Hotel
9,Cape Town,ZA,60.01,overcast clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
10,Oktyabrskoye,RU,69.01,clear sky,43.06,44.74,Prolesok Mini-hotel
19,Karratha,AU,70.21,clear sky,-20.74,116.85,ibis Styles Karratha
21,Marfino,RU,64.40,overcast clouds,55.70,37.38,Kardiologicheskiy Sanatornyy Tsentr Peredelkino
25,Khandbari,NP,72.43,broken clouds,27.37,87.20,नेवारी फाष्टफुड एण्ड लज
26,Taltal,CL,62.91,few clouds,-25.40,-70.48,Residencial Karime
27,Komsomolskiy,UZ,68.00,clear sky,40.43,71.72,Ikathouse
30,Bambous Virieux,MU,68.00,shower rain,-20.34,57.76,Casa Tia Villa

In [15]:
# Count the number of values in each column to see if there any missing values. - 2 missing in country
hotel_df.count()

City                   190
Country                189
Max Temp               190
Current Description    190
Lat                    190
Lng                    190
Hotel Name             190
dtype: int64

In [16]:
# chain .isnull().sum() to find those null values and add them up.
hotel_df.isnull().sum()

City                   0
Country                1
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [19]:
# hotel_df.loc[hotel_df == "", "Hotel Name"].count()
(hotel_df == "").sum()

City                    0
Country                 0
Max Temp                0
Current Description     0
Lat                     0
Lng                     0
Hotel Name             18
dtype: int64

In [22]:
import numpy as np

In [23]:
# Replace the **empty strings** with NaN values (np.nan) so you can then drop em
hotel_df["Hotel Name"].replace("", np.nan, inplace = True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Vaini,TO,68.00,few clouds,-21.20,-175.20,Keleti Beach Resort
5,Kelcyre,AL,68.09,broken clouds,40.31,20.19,The River Hotel
9,Cape Town,ZA,60.01,overcast clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
10,Oktyabrskoye,RU,69.01,clear sky,43.06,44.74,Prolesok Mini-hotel
19,Karratha,AU,70.21,clear sky,-20.74,116.85,ibis Styles Karratha
...,...,...,...,...,...,...,...
644,Grande Prairie,CA,62.60,broken clouds,55.17,-118.80,Holiday Inn Express Grande Prairie
647,Scarborough,GB,60.01,light rain,54.28,-0.40,Ambassador
648,Camacupa,AO,73.74,overcast clouds,-12.02,17.48,NaN
655,Mao,ES,73.40,few clouds,39.89,4.27,ARTIEM Capri
657,San Jeronimo,PE,63.34,broken clouds,-11.95,-75.28,Tuki Llajta Pueblo Bonito Eco Lodge

In [24]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Vaini,TO,68.00,few clouds,-21.20,-175.20,Keleti Beach Resort
5,Kelcyre,AL,68.09,broken clouds,40.31,20.19,The River Hotel
9,Cape Town,ZA,60.01,overcast clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
10,Oktyabrskoye,RU,69.01,clear sky,43.06,44.74,Prolesok Mini-hotel
19,Karratha,AU,70.21,clear sky,-20.74,116.85,ibis Styles Karratha
...,...,...,...,...,...,...,...
643,Ebejico,CO,71.60,thunderstorm with light rain,6.33,-75.77,EL CHORRON
644,Grande Prairie,CA,62.60,broken clouds,55.17,-118.80,Holiday Inn Express Grande Prairie
647,Scarborough,GB,60.01,light rain,54.28,-0.40,Ambassador
655,Mao,ES,73.40,few clouds,39.89,4.27,ARTIEM Capri
657,San Jeronimo,PE,63.34,broken clouds,-11.95,-75.28,Tuki Llajta Pueblo Bonito Eco Lodge

In [26]:
clean_hotel_df = hotel_df

In [27]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Vaini,TO,68.00,few clouds,-21.20,-175.20,Keleti Beach Resort
5,Kelcyre,AL,68.09,broken clouds,40.31,20.19,The River Hotel
9,Cape Town,ZA,60.01,overcast clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
10,Oktyabrskoye,RU,69.01,clear sky,43.06,44.74,Prolesok Mini-hotel
19,Karratha,AU,70.21,clear sky,-20.74,116.85,ibis Styles Karratha
21,Marfino,RU,64.40,overcast clouds,55.70,37.38,Kardiologicheskiy Sanatornyy Tsentr Peredelkino
25,Khandbari,NP,72.43,broken clouds,27.37,87.20,नेवारी फाष्टफुड एण्ड लज
26,Taltal,CL,62.91,few clouds,-25.40,-70.48,Residencial Karime
27,Komsomolskiy,UZ,68.00,clear sky,40.43,71.72,Ikathouse
30,Bambous Virieux,MU,68.00,shower rain,-20.34,57.76,Casa Tia Villa

In [30]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv("Vacation_Search/clean_hotel_df.csv", index_label="City_ID")

In [31]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False,
                                max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))